.container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
#counter{
    font-size: 60px;
    /* color: 	#FF0000; */
    margin: 10px 0px;

}
button{
    font-size: 20px;
    padding: 10px 20px;
    margin: 10px;
}